server:
  port: 8081

spring:
  application:
    name: client-service

account-service:
  base-url: http://localhost:8082

logging:
  level:
    org:
      springframework:
        web: DEBUG
        security: DEBUG
    org.example: DEBUG