apiVersion: v1
kind: ConfigMap
metadata:
  name: giga-bank-config
  namespace: giga-bank
data:
  application.yml: |
    server:
      port: 8080
    
    spring:
      jpa:
        hibernate:
          ddl-auto: update
        show-sql: false
        properties:
          hibernate:
            dialect: org.hibernate.dialect.PostgreSQLDialect
            format_sql: true
        generate-ddl: true
      web:
        resources:
          add-mappings: true
      jackson:
        default-property-inclusion: non_null
        date-format: "yyyy-MM-dd'T'HH:mm:ss.SSS"
        time-zone: "UTC"
    
    logging:
      level:
        org.springframework: INFO
        gigabank.accountmanagement: INFO
    
    springdoc:
      api-docs:
        path: /api-docs
      swagger-ui:
        path: /swagger-ui.html